datasets
fastapi
jieba
langchain
langchain-community
langchain-openai
modelscope
numpy
openai
opencv-python
pandas
pillow
pymilvus
pymysql
python-docx
python-pptx
pymupdf
ragas
rank-bm25
rapidocr-onnxruntime
redis
requests
scikit-learn
sentence-transformers
torch
transformers
tqdm
uvicorn
